# ---------- Python ----------
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

venv/
.env
backend/.env

# ---------- React ----------
node_modules/
dist/

# ---------- VS Code ----------
.vscode/

# ---------- Images ----------
uploads/

# ---------- OS ----------
.DS_Store
Thumbs.db

# ---------- Logs ----------
*.log